CONFIG_IDF_TARGET="esp32p4"
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_HEX=y
CONFIG_SPIRAM_SPEED_200M=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_FATFS_USE_FASTSEEK=y
CONFIG_FATFS_IMMEDIATE_FSYNC=y
CONFIG_FATFS_USE_DYN_BUFFERS=n
CONFIG_ESP_WIFI_REMOTE_ENABLED=n
CONFIG_ESP_HOSTED_ENABLED=n
CONFIG_TEST_SDMMC_TIMING_HS_4BIT=y
CONFIG_TEST_SDMMC_HS_DELAY_PHASE=4
CONFIG_TEST_SDMMC_POWER_CYCLE=y
CONFIG_TEST_SDMMC_FORCE_3V3_BEFORE_POWER_CYCLE=y
CONFIG_TEST_SDMMC_SETTLE_MS=500
CONFIG_TEST_SDMMC_EXTRACT_ZIP_AT_BOOT=y
CONFIG_TEST_SDMMC_READ_ZIP_BENCHMARK=y
CONFIG_TEST_SDMMC_USE_BOUNCE_WRAPPER=y
CONFIG_TEST_SDMMC_BOUNCE_BUFFER_IN_PSRAM=y
